.tmp
.valgrind.log
42sh.dSYM/

/42sh
.debug.out
/tests/unit/test.out.dSYM/Contents/Info.plist
/tests/unit/test.out.dSYM/Contents/Resources/DWARF/test.out
/.DS_store
/.valgrind.log
/.idea
/CMakeLists.txt
*.out
